{% extends "baseSearch.html" %}

{% block search %}
<!-- Search bar -->
<div class="center">
    <form class="input-group">
        <input id="searchBox" data-bind="value: actualQuery, valueUpdate: 'afterkeydown'"type="text" placeholder="Oprime Enter o el botón para buscar." class="form-control">
        <div class="input-group-btn">
            <button data-bind="html: delimiter" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Delimitar Búsqueda  <span class="caret"></span></button>
            <ul class="dropdown-menu pull-down">
                <li><a data-bind="click:$root.byAuthor" href="#">por autor</a></li>
                <li><a data-bind="click:$root.byTitle" href="#">por título</a></li>
                <li><a data-bind="click:$root.byCategory" href="#">por categoría</a></li>
                <li><a data-bind="click:$root.byDefault" href="#">general</a></li>
            </ul>
            <input data-bind="click:$root.getResults"  type="submit" class="btn btn-info" value="Buscar"></input>
        </div><!-- /btn-group -->
    </form><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<!-- End search bar -->
{% endblock %}

{% block results %}
    <h4 data-bind="text: googleResultsDescription" class="">Se encontraron 8 resultados en nuestra base de datos.</h4>
    <div data-bind="visible: googleResults().length > 1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="">Título</th>
                    <th class="">Autor</th>
                    <th class="">Editorial</th>
                    <th class="">Expositor</th>
                    <th class="">Stand</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ourResults">
                <tr>
                    <td data-bind="text: title">Título</td>
                    <td data-bind="text: author">Author</td>
                    <td data-bind="text: editorial">Editorial</td>
                    <td data-bind="text: exhibitor">Exhibitor</td>
                    <td data-bind="text: stand">Stand</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group">
            <button class="btn" contenteditable="false">1</button>
            <button class="btn" contenteditable="false">2</button>
            <button class="btn" contenteditable="false">3</button>
        </div> <!-- button group -->
        <h4 class="">Se encontraron 431 resultados en la base de datos de Google.</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="">Título</th>
                    <th class="">Autor</th>
                    <th class="">Editorial</th>
                    <th class="">Posible Expositor</th>
                    <th class="">Stand</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: googleResults">
                <tr>
                    <td data-bind="text: title">Title</td>
                    <td data-bind="text: author">Author</td>
                    <td data-bind="text: editorial">Editorial</td>
                    <td data-bind="text: exhibitor">Exhibitor</td>
                    <td data-bind="text: stand">Stand</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group">
            <button class="btn" contenteditable="false">1</button>
            <button class="btn" contenteditable="false">2</button>
            <button class="btn" contenteditable="false">3</button>
        </div> <!-- button group -->
    </div>

    <!-- json display -->
    <div>
        <h2>DEBUG</h2>
        <h4>View Model</h4>
        <div>
           <p><span data-bind="html: delimiter"></span></p>
           <p><span data-bind="text: actualQuery"></span></p>
           <p><span data-bind="text: ourResultsDescription"></span></p>
           <p><span data-bind="text: googleResultsDescription"></span></p>
           <table class="table table-bordered">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Expositor</th>
                    <th>Stand</th>
                </tr>
                <tbody data-bind="foreach: ourResults">
                    <tr>
                        <td data-bind="text: title">Título</td>
                        <td data-bind="text: author">Author</td>
                        <td data-bind="text: editorial">Editorial</td>
                        <td data-bind="text: exhibitor">Exhibitor</td>
                        <td data-bind="text: stand">Stand</td>
                    </tr>
                </tbody>
           </table>
           <table class="table table-bordered">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Posible Expositor</th>
                    <th>Stand</th>
                </tr>
                <tbody data-bind="foreach: googleResults">
                    <tr>
                        <td data-bind="text: title">Title</td>
                        <td data-bind="text: author">Author</td>
                        <td data-bind="text: editorial">Editorial</td>
                        <td data-bind="text: exhibitor">Exhibitor</td>
                        <td data-bind="text: stand">Stand</td>
                    </tr>
                </tbody>
           </table>
        </div>

        <h4>
            JSON Data
            <p data-bind="text:jsonData"></p>
        </h4>
    </div>
    <!-- end json display -->
{% endblock %}

{% block js %}
    function Result(title, author, editorial, exhibitor, stand){
        var self = this;
        self.title = title;
        self.author = author;
        self.editorial = editorial;
        self.exhibitor = exhibitor;
        self.stand = stand;
    }
    function searchViewModel() {
        var self = this;

        self.delimiter = ko.observable("Delimitar Búsqueda  <span class='caret'></span>");
        self.actualQuery = ko.observable('');

        self.ourResults = ko.observableArray([
            {
                title: 'Loving DBs!',
                author: 'Lorena Gómez',
                editorial: 'Alfaguara',
                exhibitor: 'Planeta',
                stand: 'F'
            }
        ]);
        self.googleResults = ko.observableArray([
            {
                title: 'Loving DBs!',
                author: 'Lorena Gómez',
                editorial: 'Alfaguara',
                exhibitor: 'Planeta',
                stand: 'F'
            }
        ]);

        this.ourResultsDescription = ko.computed(function() {
            return "Se han encontrado " + self.ourResults().length + " resultados en nuestra base de datos.";
        }, self);
        this.googleResultsDescription = ko.computed(function() {
            return "Se han encontrado " + self.googleResults().length + " resultados en google que podrían estar en la feria.";
        }, self);

        self.jsonData = ko.observable();

        // Behaviors
        self.byTitle = function() {
            self.delimiter("por título  <span class='caret'></span>");
        };
        self.byAuthor = function() {
            self.delimiter("por autor  <span class='caret'></span>");
        };
        self.byCategory = function() {
            self.delimiter("por categoría  <span class='caret'></span>");
        };
        self.byDefault = function() {
            self.delimiter("Delimitar Búsqueda  <span class='caret'></span>");
        };

        self.getResults = function() {
            q = self.actualQuery();
            $.getJSON('../expositores/libros/busqueda/', { query: q }, function(data){
                self.jsonData(data);
                // use observableArray.push(object) in order to push data to results
                // cycle the jsonData and create results
                // update observableArrays...
                var dbData = data['dbResults'];
                var googleData = data['googleResults'];

                var google = [];
                for (var i = 0; i < googleData['results'].length; i++) {
                    r = new Result(
                        googleData['results'][i]['title'],
                        googleData['results'][i]['author'][0],
                        googleData['results'][i]['editorial'],
                        googleData['results'][i]['exhibitor'],
                        googleData['results'][i]['stands'][0]
                    );
                    google.push(r);
                }
                self.googleResults(google);
                var db = [];
                for (var i = 0; i < dbData['results'].length; i++) {
                r = new Result(
                    dbData['results'][i]['title'],
                    dbData['results'][i]['author'][0],
                    dbData['results'][i]['editorial'],
                    dbData['results'][i]['exhibitor'],
                    dbData['results'][i]['stands'][0]
                );
                    db.push(r);
                }
                self.ourResults(db);
            });
        };

    }
    var vm = new searchViewModel();
    ko.applyBindings(vm);
{% endblock %}

{% block jQuery %}
    $("#searchBox").focus();
{% endblock %}
